body {
  font-size: 14px;
  font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 1.6em;
  color: #1B325F;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

span {
  font-size: 0.8em;
  font-weight: normal;
}

form {
margin-top: 110px;

}
table {
  border: 0px;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

td {
  padding-bottom: 15px;
}

td img {
  width: 90px;
  height: 66px;
  border: 1px solid #1B325F;
  margin: 3px;
}

td span {
  margin-left: 4px;
  display: block;
}


div.content {
  float: left;
  width: 710px;
  margin-left: 30px;
  margin-top: 30px;
}

div.about {
  margin-bottom: 85px;
  margin-top: 15px;
  width: 700px;

}

div.about p {
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 3em;
  color: #1B325F;
}

div.about p a { text-decoration: none; color: #3D89C8; }
div.about p a:visited { color: #3D89C8; }

div.sidebar {
  margin-top: 30px;
  width: 330px;
  float: left;
}

div.sidebar p {
  font-size: 11px;
  line-height: 1.4em;
}




div.suggestions a { color: #3D89C8; font-size: 11px; padding: 0px 2px;}
div.suggestions a:visited { color: #3D89C8; }
div.suggestions span a:hover { background-color: #3D89C8; color: white; text-decoration: none; }


div.logo { width: 260px; margin: 0 auto; }

div.new-shirt {
  width: 315px;
  height: 60px;
  background-color: #ECF3F9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div.new-shirt a {
  height: 40px;
  text-align: center;
  line-height: 60px;
  display: block;
  font-size: 1.6em;
  color: #1B325F;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

div.suggestions {
  width: 315px;
  height: 900px;
  background-color: #ECF3F9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 10px;
}

div.suggestions h2 {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px
}



div.other-products {

  width: 310px;
  margin-left: 5px;
}

div.other-products img {
  float: left;
}

div.other-products h3 {
  float: left;
  width: 175px;
  margin-left: 10px;
  margin-bottom: 7px;
}
div.other-products p {
  float: left;
  width: 175px;
  margin-left: 10px;
}

div.shirt {
  width: 600px;;
  height: 160px
}

div.shirt img {
  display: block;
  float: left;
  width: 200px;
  border: 1px solid #1B325F;
margin-right: 15px;
}

div.shirt h2 {
  width: 300px;
  float: left;
  margin-bottom: 10px;
}

div.shirt ul {
  float: left;
}

div.shirt li {
  width: 300px;
  color: #3C89C8;
  font-size: 1em;
  margin-bottom: 5px;
}

div.shirt li a { color: #3C89C8; text-decoration: none; }
div.shirt li a:hover { color: #3C89C8; text-decoration: underline; }


div.shirt h2 a { color: #1B325F; text-decoration: underline;}
div.shirt h2 a:hover { color: #1B325F; text-decoration: none;}

div.search {
margin-bottom: 30px;
}

div.github {
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
div.github a:hover { background: none;}

input[type="text"] {
  border: 1px solid #C4C4C4;
  -moz-border-radius-topleft: 3px 3px;
  -moz-border-radius-bottomleft: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  font-size: 13px;
  height: 28px;
  margin: 0px;
  padding: 0px;
  width: 169px;
  padding-left: 5px;
}

input[type="image"] {
  margin-top: -4px;
  height: 30px;
  margin-left: -5px;
  vertical-align: middle;
}

div.field {
  margin-bottom: 30px;
}

div.field input[type="text"] {
  margin-top: 10px;
  width: 400px;
}

div.actions a {
  color: white;
  background-color: #3C89C8;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  display: block;
  height: 46px;
  width: 200px;
  font-size: 1.4em;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin-bottom: 30px;
  text-align: center;
  line-height: 46px;
}

div.actions a:hover {
  background-color: #387DB5;
}

p.disclaimer {
  font-size: 11px;
  line-height: 1.4em;
  margin-top: 30px;
}

p.disclaimer a { color: #FF3366; padding: 2px 1px;}
p.disclaimer a:visited { color: #FF3366; }
p.disclaimer a:hover { background-color: #FF3366; color: white;}

p.contact { margin-top: 15px; }
p.contact span a { padding: 2px 1px; margin-left: 2px;}
p.contact span a:hover { text-decoration: underline; color: white;}

label.error { color: red; margin-left: 10px; }

div.other-products h3 a { color: #3D89C8; }
div.other-products h3 a { color: #3D89C8; font-size: 1em; }
div.other-products h3 a:visited { color: #3D89C8; font-size: 1em; }

div.tooltip {
  position: absolute;
  z-index: 999;
  background-color: #ECF3F9;
  padding: 10px;
  border-radius: 15px 15px;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

div.tooltip img { width: 636px; height: 460px; border: 1px solid #1B325F;}

.right {
  top: 270px;
  left: 15px;
}