<div class="search">
  <form>
    <input type="text" title="Buscar por nombre" class="auto-clear placeholder" />
    <input type="image" src="/images/search.png" class="search-button" />
  </form>
</div>
