<div class="search">
  <form>
    <input type="text" id="search" title="Buscar" class="auto-clear placeholder" />
    <input type="image" src="/images/search.png" class="search-button" />
  </form>
</div>
