<div class="shirt">
  <%= link_to image_tag(shirt.image_url), shirt.link %>
  <h2><%= link_to shirt.name, shirt.link %></h2>
    <ul>
      <% shirt.bought_by.each do |name| %>
      <li><%= link_to name, "http://twitter.com/#{name.delete('@')}" %></li>
      <% end %>
    </ul>
</div>
