<%= form_tag tees_path, :id => "new_tee_form", :method => :post do %>
  <div class="field">
    <h2>Link a la camiseta</h2>
    <input type="text" name="link" id="link" />
  </div>


  <div class="field">
    <h2>¿Cuál es tu usuario de Twitter?</h2>
    <input type="text" name="who" id="who" />
  </div>

  <div class="actions">
    <%= link_to_function "Guardar", "$('#new_tee_form').submit();" %>

  </div>
<% end %>
